---
layout: default
---

<div class="home">
  
  {{ content }}
  
  <h2 class="post-list-heading">Latest Posts</h2>
  <ul class="post-list">
    {% for post in site.posts limit: 5 %}
      <li>
        <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  
  <p class="rss-subscribe">
    <a href="{{ '/feed.xml' | relative_url }}">Subscribe via RSS</a>
  </p>
</div>
